body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
	
	padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

h3 {
	line-height: 0.5em;
	margin: 15px 0;
}

h4 {
	line-height: 0.5em;
	margin: 15px 0;
}

p {
	margin: 0 0 1em 0;
}

img {
	max-width: 100%;
	height: auto;
	/*align-text: center;*/
	display: block;
	margin: auto;
}

#main-header {
	background: #333;
	color: white;
	height: 80px;
	
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}	
	#main-header a {
		color: white;
	}
 
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	
 
/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			/*display: inline-block;*/
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}
				
			nav ul li input {
				display: block;
				padding: 0 10px;
				text-decoration: none;				
  				border: none;
  				background: none;
  				cursor: pointer;
  				color: #FFFFFF;
  				font-family: inherit;
  				font-size: inherit;  				
  				height: 80px;
			}
			
				nav ul li input:hover {
					background: #0b76a6;
				}
				
			nav ul li ul {
				display: none;
				padding-right: 0px;	
				text-align: center;
			}
			
				nav ul li a:hover + ul, nav ul li ul:hover {
					display: block;
					background: #333;
				}
					
#main-content {
	background: white;
	width: 90%; /*solo puede ser el 90% del ancho total del navegador como mucho*/
	max-width: 800px; /*el maximo de la pantalla*/
	margin: 20px auto; /*anchura margenes*/
	box-shadow: 0 0 10px rgba(0,0,0,.1);/*caja del margen*/
}
 
	#main-content header,
	#main-content .content {
		padding: 40px;
	}

	#main-content .imgbackground {
		background-image: url(images/plantilla.jpg);
	}

	#main-content .imgprofile {	
		max-width: 100%;
		width: 20%;

		display: block;
		margin: auto;

		padding: 0;
		border-radius: 1000px;
		overflow: hidden;
	}

#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}
	
.notVisble {
	visibility: hidden;
}



.menuCSS3 ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.menuCSS3 a {
		display: block;
		padding: 2em;
		background-color: #F9B53C;
		text-decoration: none;
		color: #191C26;
	}
	.menuCSS3 a:hover {
		background-color: #CC673B;
	}
	.menuCSS3 ul li ul {
		display: none;
	}
	.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
		display: block;
	}