<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="UTF-8" />
		<link rel="StyleSheet" th:href="@{/css/mystyle.css}"/>
		
		<title th:text="#{titleIndex}"></title>
	</head>
	<body>	
		<header id="main-header">
			<a id="logo-header" th:href="@{/home}">
				<span class="site-name" th:text="#{titleIndex}"></span>
				<span class="site-desc" th:text="#{nameAuthor}"></span>
			</a>
			<nav>
				<ul>
					<li><a th:href="@{/home}" th:title="#{goToStart}" th:text="#{start}"></a></li>
					<li><a th:href="@{/list}" th:title="#{goToEmployeeList}" th:text="#{listOfEmployees}"></a></li>
					<li><a href='#' th:text="#{language}"></a>
						<ul>
							<li><a th:href="@{?lang=es}" th:title="#{spanish}" th:text="#{spanish}"></a></li>
							<li><a th:href="@{?lang=en}" th:title="#{english}" th:text="#{english}"></a></li>
						</ul>
					</li>
					<li><a href='#' th:text="#{profile}"><span sec:authentication="name"></span></a>
						<ul>
							<li><form th:action="@{/logout}" method="post"><input type="submit" name="logout" th:value="#{signOut}" /></form></li>
						</ul>
					</li>
				</ul>
			</nav>
		</header>
		
		<section id="main-content">
			<div class="content">
				<h1 th:text="#{supervisor}"></h1>
				<ul>
					<li><a th:href="@{/list}" th:text="#{employeeList}"></a></li>	
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/addEmployee}" th:text="#{newEmployee}"></a></li>					
				</ul>
				<!-- <div sec:authorize="isAuthenticated()">
				  This content is only shown to authenticated users.
				</div>
				<div sec:authorize="hasRole('ROLE_ADMIN')">
				  This content is only shown to administrators.
				</div>
				<div sec:authorize="hasRole('ROLE_USER')">
				  This content is only shown to users.
				</div> -->
			</div>
		</section>
	</body>
</html>
